.logo{
	height: 60px;
}
.fa, .fab, .fad, .fal, .far, .fas {
	margin: 0 5px 0 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#cards{
	margin: 15px 15px;
}

.rodape{
	text-align: center;
	
}

.bt-login{
	height: 60px;
	
}

.copyright{
	text-align: center;
	color: black;
}

#contact{
	text-align: center;
}	

.list{
padding-left: 25%;
}